body  {
    margin: 0;
    padding: 10px;
    /*background-color: #FAFAFA;*/
}
.logo {
    background-color: #bdbdbd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    /*border: 1px solid #000;*/
}

p {
    display: inline-block;
    margin-right: 10px; 
    font-size: 20px;
}

#logoOne {
    background-color: #F44336;
}

#logoTwo {
    background-color: #FAEBD7;
}

#logoThree {
    background-color: #2196F3;
}

@media only screen and (max-width: 767px) {
    p {
        display: none;
    }
}