body  {
    margin: 0;
    padding: 2px 2px 2px 0;
    /*background-color: #FAFAFA;*/
}


/********** NAVBAR *************/

.logo {
    background-color: #bdbdbd;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 5px;
}

.logoText {
    display: inline-block;
    margin-right: 10px; 
    font-size: 14px;
    position: relative;
    top: 5px;
}

#logoOne {
    background-color: #F44336;
}

#logoTwo {
    background-color: #FAEBD7;
}

#logoThree {
    background-color: #2196F3;
}

.navText {
    /*color: #757575;*/
    color: blue;
}

@media only screen and (min-width: 1020px) {
    .navbar-nav .nav-item .nav-link {
        color: #757575;
        border-left: 1px solid #212121;
        line-height: 3px;
    }
    
    .navbar-nav .nav-item .nav-link:hover {
        color: #F44236;
    }
}

@media only screen and (max-width: 767px) {
    .logoText {
        display: none;
    }
}